<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Home_Files</a> -->
      <%= link_to 'Home_Files', root_path, {:class => "navbar-brand"} %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Features <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if user_signed_in? %><li><a href="#">Lock storrage</a></li><% end %>
            <li><a href="#">Open storrage</a></li>
            <li><a href="#">Family Blog</a></li>
            <li><a href="#">Family Dashboard</a></li>
            <li role="separator" class="divider"></li>
            <!-- <li><a href="#">About our family</a></li> -->
            <li><%= link_to 'About our family', welcome_about_path %></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% unless user_signed_in? %>
          <li><%= link_to 'Log in', new_user_session_path %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">My Account</a></li>
              <li><a href="#">Create a user</a></li>
              <li role="separator" class="divider"></li>
              <!-- <li><a href="#">Log out</a></li> -->
              <li><%= link_to 'Log out', destroy_user_session_path, :method => :delete %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
