<% if @post %>
  <header class="jumbotron hero-spacer" style="background-image:url(images/posts/form.jpg);">
    <h1>About our Family!!!</h1>
    <p>
      <%= @post.text %>
    </p>
    <p>
      <%= link_to image_url(@post.image) do %>
        <%= image_tag @post.image.show.url %><br>
      <% end %>
    </p>
  </header>
<% else %>
  <%= render 'sorry/no_about_welcome.html.erb' %>
<% end %>
