<header class="jumbotron hero-spacer" style="background-image:url(images/folders/empty.jpg);color:white;">
  <h1>No folders yet...</h1>
  <p>
    But you need them? Just click "New folder" and have fun!
  </p>
</header>
