<div class="jumbotron", style="background-image:url(http://cdn.shopify.com/s/files/1/0048/1702/products/icecreamfamily1_1024x1024.jpg?v=1372006871);color:white;">
  <%= render "source/form.html.erb" %>
</div>

<!-- http://cdn.shopify.com/s/files/1/0048/1702/products/icecreamfamily1_1024x1024.jpg?v=1372006871
  <header class="jumbotron hero-spacer" style="background-image:url(images/posts/empty.jpg);color:white;"> -->
