<header class="jumbotron hero-spacer" style="background-image:url(images/posts/empty.jpg);">
  <h1><%= @post.title %></h1>
  <p>
    <%= @post.text %>
  </p>
  <% if user_signed_in? %>
    <p>
      <%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?" }, :type => "button", :class => "btn btn-danger" %>
    </p>
  <% end %>
</header>
